 *{
 	margin: 0;
 	padding: 0;
 	font-family: sans-serif;
 }

body
{
   width: 100%;
   height: 100vh;
   background: linear-gradient(rgba(0,0,0,0.5), #4b4b4b), url(main.jpg);
   background-size: cover;
   background-position: center;
   position: relative;
   overflow: hidden;
}

.main
{
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fff;
}

 h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    color: #fff;
 }

 button
{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    align-items: center;
}

button:hover
{
    background: #ffc107;
    color: #000;
}